body{

    font-family: 'Segoe UI', Arial, sans-serif;
    line-height: 1.6;
    background-color: #FFFCEB;
    margin: 0;
    padding: 0;
}


nav{
    background-color: #FFFCEB;
    padding: 4px 4px;
}
body{
    background-color: #FFFCEB;
}



ul.navbar{
    list-style: none;
    display: flex;
    margin: 5px;
    padding: 5px;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

    ul.navbar li {
    color: #424B54;
    cursor: pointer;
    transition: color 0.3s ease;
    
    }

    ul.navbar li:hover {
    color: #A4969B;
    }
    ul.navbar :visited{
        text-emphasis: none;

    }